<div class="c-header">
    <div class="c-header_container o-wrapper u-clearFix">
        <div class="c-hamburger js-offcanvas" data-offcanvas-src="#offcanvas-left">
            <span class="c-hamburgerPatty c-hamburgerPatty--top"></span>
            <span class="c-hamburgerPatty c-hamburgerPatty--middle"></span>
            <span class="c-hamburgerPatty c-hamburgerPatty--bottom"></span>
        </div>
        <div class="c-header__logo">
            {% if template != 'index' %}
                <a class="c-logo" href="{{ shop.secure_url }}">
                  <div class="vimergy-logo"></div>
                </a>
            {% else %}
               <div class="vimergy-logo"></div>
            {% endif %}
        </div>
        <div class="c-header__nav ">
            <ul class="c-header__navLeft">

                {% for link in linklists.new-menu.links %}
                    <li class="c-header__navItem">
                        <a class="c-header__navLink {% if link.active %} is-active {% endif %}" href="{{ link.url }}/">{{ link.title }}</a>
                    </li>
                {% endfor %}

                <li class="c-header__navItem">
                    <div class="c-search-box c-search-display">
                        <form action="/search" method="get" class="input-group search-bar" role="search" >
                            <input type="hidden" name="type" value="product">
                            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field search-input" aria-label="{{ 'general.search.placeholder' | t }}" style="display:none;">
                            <span class="c-search-close" data-action="search-close" style="display:none;">
                                {% include 'icon-searchClose' %}
                            </span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn icon-fallback-text search-button c-search-button">
                                    <span class="icon icon-search" aria-hidden="true">
                                        {% include 'icon-search' %}
                                    </span>
                                    {% comment %} <span class="fallback-text">{{ 'general.search.submit' | t }}</span> {% endcomment %}
                                </button>
                            </span>
                        </form>
                    </div>
                </li>
            </ul>
            <ul class="c-header__navRight">
                <li class="c-header__navItem">
                    <a class="c-header__navLink"
                        {% if customer %}
                            href="https://vimergy.myshopify.com/account"
                        {% else %}
                            href="https://vimergy.myshopify.com/account/login"
                        {% endif %}
                     >
                        {% if customer %}
                            My Account
                        {% else %}
                            SIGN In
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="c-header__cart">
            <div class="c-header__cartCount">
                <div id="CartCount">
                </div>
            </div>
            {% include 'cart-logo' %}
        </div>
    </div>
</div>



<script>
$('.search-button').click(function() {
  $('.search-input').toggle();
  $('.c-search-close').toggle();
  $('.search-button').toggle();
  $('.c-megamenu').toggle();
});

$('.c-search-close').click(function() {
    $('input[name="q"]').val('');
    $('.search-input').toggle();
    $('.c-search-close').toggle();
    $('.search-button').toggle();
    $('.c-megamenu').toggle();
});

 $('.search-bar').submit(function(e) {

       var term = $(this).find('input[name="q"]').val();
        console.log(term,"term")
       if(term == '' || term == undefined){

           return false;
       }

    });

</script>