{% form 'create_customer' %}

                    {{ form.errors | default_errors }}

                    <input type="text" name="customer[first_name]" id="FirstName" class="c-input input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

                    <input type="text" name="customer[last_name]" id="LastName" class="c-input input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

                    <input type="email" name="customer[email]" id="Email" class="c-input input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

                    <input type="password" name="customer[password]" id="CreatePassword" class="c-input input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">

                    <div class="c-checkbox__wrapper">

                        <input class="c-input c-input--checkbox" type="checkbox" id="checkbox1" name="customer[accepts_marketing]" checked="checked" />

                        <label for="checkbox1">
                            <span class="c-input__checkboxText">Subscribe to stay updated with new products and offers!</span>  
                        </label>
                    </div>

                      <input class="c-btn c-btn--large-new" type="submit" value="Create Account" class="c-btn c-btn--black c-account__button">
                {% endform %}

 <script>
fbq('track', 'CompleteRegistration'); 
</script>