<div class="c-collections">
	<h2 class="c-heading c-collections__title">{{collection.title}}</h2>
	<div class="c-collections__content o-flex">
		<div class="c-collections__left o-flex__col-lg-2">
			product filter
		</div>
		<div class="c-collections__right o-flex__col-lg-10">
			<div class="c-collections__row o-flex">

				{% comment %} Collection pages product grids {% endcomment %}
				{% for product in collection.products %}
					<div class="c-product__item o-flex__item o-flex__col-4">
						<a href="{{ product.url }}" title="{{ product.title }}" class="c-product__link">
							<div class="c-product__img">
								<img class="c-product__Mainimage" src="{{ product.images[0].src  | img_url: 'large' }}">
								<img class="c-product__hoverImage" src="{{ product.images[1].src  | img_url: 'large' }}">
							</div>
							<div class="c-product__info">
								<h2 class="c-product__name">{{ product.title  }}</h2>
								<h2 class="c-product__price">{{ product.price  | money}}</h2>
							</div>
							<div class="c-product__hoverText"><span>view details</span></div>
						</a>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>
