{% paginate search.results by 15 %}

    <div class="o-wrapper c-search">

        <div class="c-search__breadcrumb">
            <a class="c-search__breadcrumbLink" href="{{ shop.secure_url }}{{parent_collection_url}}">
                <svg class="c-search__breadcrumbArrow" width="25px" height="12px" viewBox="0 0 25 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g id="Category-Banner" transform="translate(0.000000, -6.000000)" stroke="#e3732b">
                            <g id="breadcrumbs">
                                <g transform="translate(0.000000, 2.000000)">
                                    <g id="arrow" transform="translate(12.500000, 10.000000) rotate(-90.000000) translate(-12.500000, -10.000000) translate(7.000000, -2.000000)">
                                        <path d="M5.20127143,23.6102857 L5.20127143,2" id="Stroke-420"></path>
                                        <polyline id="Stroke-421" transform="translate(5.201429, 3.009414) rotate(-180.000000) translate(-5.201429, -3.009414) " points="10.4028571 0.4087 5.20142857 5.61012857 0 0.4087"></polyline>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="c-search__breadcrumbText">Home</span>
            </a>
            <span class="c-search__breadcrumbNoLink">
                <svg class="c-search__breadcrumbDivider" width="6px" height="8px" viewBox="0 0 6 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <g id="1440-05-home-search-results-1@2x@2x" transform="translate(-142.000000, -142.000000)" stroke="#e3732b">
                            <g id="breadcrumbs" transform="translate(50.000000, 136.000000)">
                                <polyline id="Rectangle-10" points="93 6 97 10 93 14"></polyline>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="c-search__breadcrumbText">Search Results for ’{{ search.terms }}’</span>
            </span>
        </div>


        {% if search.performed %}
            {% if search.results_count == 0 %}
            <h1 class="c-search__title">Sorry!</h1>
            <p>We couldn’t find any results for ’{{ search.terms }}’</p>
          {% else %}
            <h1 class="c-search__title">Search results for ’{{ search.terms }}’</h1>
          {% endif %}
        {% else %}
            <h1 class="c-search__title">Search</h1>
        {% endif %}


        <form class="c-searchForm" action="/search" style="display: none;">
            <div class="c-searchForm__inputGroup">
                <svg class="c-searchForm__searchIcon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="375-03-home-menu@2x" transform="translate(-45.000000, -93.000000)" fill-rule="nonzero" fill="#000000">
                            <g id="menu" transform="translate(30.000000, 40.000000)">
                                <path d="M28.1170086,64.9599248 L32.7603601,69.6032763 C33.07988,69.9227961 33.07988,70.4408402 32.7603601,70.7603601 C32.4408402,71.07988 31.9227961,71.07988 31.6032763,70.7603601 L26.9599248,66.1170086 C25.7001941,67.124704 24.1022839,67.7272727 22.3636364,67.7272727 C18.2968123,67.7272727 15,64.4304604 15,60.3636364 C15,56.2968123 18.2968123,53 22.3636364,53 C26.4304604,53 29.7272727,56.2968123 29.7272727,60.3636364 C29.7272727,62.1022839 29.124704,63.7001941 28.1170086,64.9599248 L28.1170086,64.9599248 Z M22.3636364,66.0909091 C25.5267218,66.0909091 28.0909091,63.5267218 28.0909091,60.3636364 C28.0909091,57.200551 25.5267218,54.6363636 22.3636364,54.6363636 C19.200551,54.6363636 16.6363636,57.200551 16.6363636,60.3636364 C16.6363636,63.5267218 19.200551,66.0909091 22.3636364,66.0909091 Z" id="Combined-Shape"></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <input type="hidden" name="type" value="product">
                <input class="c-searchForm__input" type="text" placeholder="Search Something" name="q" value="{{ search.terms | escape }}">
                <span class="c-searchForm__inputGroupButton">
                    <button type="submit" class="c-btn c-searchForm__submit" name="commit" id="Subscribe">GO</button>
                </span>
            </div>
        </form>


        {% if search.performed %}
            <div class="c-search__grid">
                {% for item in search.results %}
                    <a class="c-search__item" href="{{ item.url | within: collection }}">
                        <img class="c-search__itemImage lazy-load" src="{{ item.featured_image.src | img_url: 'master' }}')">

                        {% if item.object_type == 'product' %}

                        <div class="c-search__itemContent">
                            <span class="c-search__itemTitle">{{ item.title }}</span>

                            <span class="c-search__priceSection">
                                {% unless item.available %}
                                    <span class="c-search__itemPrice c-search__itemPrice--soldOut">Sold Out</span>
                                {% endunless %}

                                {% if item.compare_at_price > item.price %}
                                    <span class="c-search__itemPrice c-search__itemPrice">{{ item.price | money }}</span>
                                    <s class="c-search__itemPrice c-search__itemPrice--offSale">{{ item.compare_at_price | money }}</s>
                                {% else %}
                                    <span class="c-search__itemPrice c-search__itemPrice" itemprop="price">{{ item.price | money }}</span>
                                {% endif %}
                            </span>
                        </div>

                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
        {% endif %}
    </div>

{% endpaginate %}
<script>
$( document ).ready(function() {
   $('input[name="q"]').val('');
});
</script>