<div class="c-aboutHeroSection o-wrapper">
    <div class="c-aboutHeroInner">
        <div class="c-aboutHeroImageSection c-aboutHeroImageSection--top u-hideTabletUp">
            <span class="c-aboutHeroText c-aboutHeroText--top js-animElement__HomeHeroText--mobile">{{ section.settings.hero-text}}</span>
        </div>

        <div class="c-aboutHeroImageSection c-aboutHeroImageSection--left">
            <picture>
                <source media="(max-width: 767px)" srcset="{{ section.settings.background-image-left-mobile | img_url: 'master' }}">
                <source media="(min-width: 768px)" srcset="{{ section.settings.background-image-left-desktop | img_url: 'master' }}">
                <img class="c-aboutHeroSplitSection__image" src="{{ section.settings.background-image-left-mobile | img_url: 'master' }}" alt="Space Needle">
            </picture>

            <span class="c-aboutHeroText c-aboutHeroText--left u-hideTabletUp">{{ section.settings.hero-text}}</span>            
        </div>

        <div class="c-aboutHeroImageSection c-aboutHeroImageSection--right">
            <picture>
                <source media="(max-width: 767px)" srcset="{{ section.settings.background-image-right-mobile | img_url: 'master' }}">
                <source media="(min-width: 768px)" srcset="{{ section.settings.background-image-right-desktop | img_url: 'master' }}">
                <img class="c-aboutHeroSplitSection__image" src="{{ section.settings.background-image-right-mobile | img_url: 'master' }}" alt="Space Needle">
            </picture>
        </div>

        <div class="c-aboutHeroContentSection">
            <div class="c-aboutHeroSplitContentContainer">
                <div class="c-aboutHeroSplitContentSection__split c-aboutHeroSplitContentSection__split--left">
                    <span class="js-animElement__HomeHeroText--desktop c-aboutHeroText c-aboutHeroText--left">{{ section.settings.hero-text}}</span>     
                </div>   

                <div class="c-aboutHeroSplitContentSection__split c-aboutHeroSplitContentSection__split--right">
                    <span class="js-animElement__HomeHeroText--desktop c-aboutHeroText c-aboutHeroText--right u-showTabletUp">{{ section.settings.hero-text}}</span>
                </div>
            </div>
        </div>     
    </div>
</div>


{% schema %}
{
    "name": "About Hero Section",
    "settings": [
        {
            "type": "image_picker",
            "label": "Background Image Left Mobile",
            "id": "background-image-left-mobile"
        },
        {
            "type": "image_picker",
            "label": "Background Image Left Desktop",
            "id": "background-image-left-desktop"
        },        
        {
            "type": "image_picker",
            "label": "Background Image Right Mobile",
            "id": "background-image-right-mobile"
        },      
        {
            "type": "image_picker",
            "label": "Background Image Right Desktop",
            "id": "background-image-right-desktop"
        },             
        {
            "type": "html",
            "label": "Hero Text",
            "id": "hero-text",
            "info": "Place line breaks with '<br>'"
        }
    ]
}
{% endschema %}