<!-- /templates/customers/account.liquid -->
{% comment %}
For all available customer liquid tags:
- http://docs.shopify.com/themes/liquid-variables/customer
{% endcomment %}
<div class="c-accounts c-account--account account-dashboard ">
   <div class="o-flex">
      <div class="o-flex__item o-flex__col-4">
         <h1 class="c-account__title">Index</h1>
         <ul class="c-index">
            <li class="c-index__underline"><span><a href="/account">My Account</a></span></li>
            <li><a href="/account/addresses">Address Book</a></li>
              <li><a href="#" id="myOrder">My Orders</a></li>
            <li class="c-index__underline">
               {% if customer.metafields.subscriptions.customer_string %}
               <!--BeginRechargeCode-->
               <a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</a>
               <!--EndRechargeCode-->
               {% endif %}
            </li>
              <li><a href="https://vimergy.myshopify.com/pages/privacy-policy">Privacy Policy </a></li>
             <li><a href="pages/customer-service">Terms of Use</a></li>
            <li class="c-index--index"><button class="c-btn c-btn--index c-btn--logout"> <a class="account-dashboard__logout" href="account/logout">Log Out</a></button></li>
         </ul>
      </div>
      <div class="o-flex__item o-flex__col-8 c-cust-info">
         <h2 class="c-account__title">Hello, {{ customer.name }}</h2>
         <p class="c-account-desc">From your dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
         </p>
         <div class="o-flex">
            <div class="o-flex__item o-flex__col-6">
            <h2 class="c-account-information">Account Information</h2>
            <label class="c-account-info-label c-address-subtitle">Account Information</label>
                     <div>
                        <p class="account-details__name c-account__infoText">{{ customer.name }}</p>
                        {% if customer.email != "" %}
                        <p class="c-account__infoText">
                           {{ customer.email }}
                        </p>
                        {% endif %}
                     </div>
            </div>
            <div class="o-flex__item o-flex__col-6">
            <h2 class="c-account-information ">Address Book</h2>
            <label class="c-account-info-label c-address-subtitle">
                        <p><a class="c-account__link--normal" href="/account/addresses">Manage Addresses ({{ customer.addresses_count }})</a></p>
                     </label>
                     {% if customer.default_address != nil %}
                     <p class="c-account__infoText">
                        {{ customer.default_address.address1 }}
                        {% if customer.default_address.address2 != "" %}
                        {{ customer.default_address.address2 }}
                        {% endif %}
                        {% if customer.default_address.city != "" %}
                        {{ customer.default_address.city }}
                        {% endif %}
                        {% if customer.default_address.province_code != "" %}
                        {{ customer.default_address.province_code | upcase }}
                        {% endif %}
                        {% if customer.default_address.zip != "" %}
                        {{ customer.default_address.zip | upcase }}<br>
                        {% endif %}
                        {% if customer.default_address.country != "" %}
                        {{ customer.default_address.country }}<br>
                        {% endif %}
                     </p>
                     {% endif %}
                     {% if customer.default_address.phone != "" %}
                     <p class="c-account__infoText">
                        {{ customer.default_address.phone }}
                     </p>
                     {% endif %}
            </div>
         </div>
    
            <div class="account-dashboard__block order-history" id="orders">
               <h2 class="c-account__title c-account__title--order">My Orders</h2>
               {% comment %}
               If we have past orders, loop through each one
               {% endcomment %}
               {% paginate customer.orders by 20 %}
               {% if customer.orders.size != 0 %}
               <table class="responsive-table">
               <thead>
                  <tr class="responsive-table-row">
                     <th class="c-account-information--order">Order</th>
                     <th class="c-account-information--order">Date</th>
                     <th class="c-account-information--order">Payment Status</th>
                     <th class="c-account-information--order">Fullfillment Status</th>
                     <th class="c-account-information--order">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for order in customer.orders %}
                  <tr class="responsive-table-row">
                     <td >
                        <p class="c-account__infoText">
                           <a href="{{ order.customer_url }}">
                           <strong>{{ order.name }}</strong>
                           </a>
                        </p>
                     </td>
                     <td>
                        <p class="c-account__infoText">
                           {{ order.created_at | date: format: 'month_day_year' }} 
                        </p>
                     </td>
                     <td>
                        <p class="c-account__infoText">
                           {{ order.financial_status_label }}
                        </p>
                     </td>
                     <td>
                        <p class="c-account__infoText">
                           {{ order.fulfillment_status_label }}
                        </p>
                     </td>
                     <td>
                        <p class="c-account__infoText">
                           {{ order.total_price | money }} {{ order.currency }}
                        </p>
                     </td>
                  </tr>
                    {% endfor %}
                    </tbody>
               </table>
             
               {% else %}
               <p class="c-account__infoText">You haven't placed any orders yet.</p>
               {% endif %}
               {% if paginate.pages > 1 %}
               <hr>
               <div class="pagination">
                  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
               </div>
               {% endif %}
               {% endpaginate %}
            </div>
         </div>
      </div>
   </div>
</div>