<div class="c-abtSngImgSection o-wrapper">
    <div class="c-abtSngImg__contentSection">
        {% if section.settings.intro-text %}
            <h3 class="c-abtSngImg__introText">{{ section.settings.intro-text}}</h3>
        {% endif %}

        <div class="c-abtSngImg__contentInner">
            {% if section.settings.title %}
                <h2 class="c-abtSngImg__title">{{ section.settings.title }}</h2>
            {% endif %}

            {% if section.settings.content %}
                <div class="c-abtSngImg__content">
                    {{ section.settings.content }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="c-abtSngImg__imageSection">
        {% if section.settings.image-mobile %}
            <img class="c-abtSngImg__imageMobile lazy-load" src="{{ section.settings.image-mobile | img_url: 'master' }}" />
        {% endif %}

        {% if section.settings.image-desktop %}
            <img class="c-abtSngImg__imageDesktop lazy-load" src="{{ section.settings.image-desktop | img_url: 'master' }}" />
        {% endif %}
    </div>
</div>


{% schema %}
{
    "name": "About Single Image Two",
    "settings": [
        {
            "type": "html",
            "label": "Intro Text",
            "id": "intro-text",
            "info": "Place line breaks with '<br>'"
        },     
        {
            "type": "html",
            "label": "Title",
            "id": "title",
            "info": "Place line breaks with '<br>'"
        },            
        {
            "type": "html",
            "label": "Content",
            "id": "content"
        }, 
        {
            "type": "image_picker",
            "label": "Image Mobile",
            "id": "image-mobile"
        },
        {
            "type": "image_picker",
            "label": "Image Desktop",
            "id": "image-desktop"
        }      
    ]
}
{% endschema %}