
<footer class="c-footer o-wrapper">
        <div class="c-footerInner">
        <div class="c-footerMenusSection">
            <div class="c-footerMenusContainer">
                {% for block in section.blocks %}
                {% if block.type == 'footer-menu'%}
                {% if linklists[block.settings.footer_linklist].links.size > 0 %}

                    {% assign footer_menu = block.settings.footer_linklist %}

                    <div class="c-footerMenuGroup">
                        <h3 class="c-footerMenuTitle">{{ linklists[footer_menu].title }}</h3>

                        <nav class="c-footerMenu">  
                            <ul>
                            {% for link in linklists[footer_menu].links %}
                                <li class="c-footerMenuItem"><a class="c-footerMenuLink" href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </nav>
                    </div>

                {% endif%}
                {% endif %}
                {% endfor %}
            </div>
            <span class="c-footerCopyright u-showTabletLargeUp">Copyright © 2017 Sub_Urban Riot. All Rights Reserved.</span>
        </div>

        {% assign footer_image_count = 0 %}

        {% for block in section.blocks %}
            {% if block.type == 'footer-images' %}
                {% assign footer_image_count = footer_image_count | plus: 1%}
            {% endif %}
        {% endfor %}

        <div class="c-footerImageSection
            {% if footer_image_count > 1 %}
                c-footerImageSection--multiImages
            {% endif %}
        ">
            {% for block in section.blocks %}
                {% if block.type == 'footer-images' %}
                    {% assign footer_image = block.settings.footer-image %}
                    <div class="c-footerImageContainer">
                        <img class="c-footerImage" src="{{ footer_image.src | img_url: 'master' }}" alt="{{ footer_image.alt }}">
                    </div>
                {% endif %}
            {% endfor %} 
        </div>
        <span class="c-footerCopyright u-hideTabletLargeUp">Copyright © 2017 Sub_Urban Riot. All Rights Reserved.</span>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "blocks": [
        {
            "type": "footer-menu",
            "name": "Footer Menu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "footer_linklist",
                    "label": "Menu"
                }
            ]
        },
        {
            "type": "footer-images",
            "name": "Footer Images",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "footer-image",
                    "label": "Footer Image"
                }
            ]
        }
    ]
}

{% endschema %}
