<div class="c-hpHeroSection o-wrapper">
    <div class="c-hpHeroInner">
        <div class="c-hpHeroImageSection c-hpHeroImageSection--top u-hideTabletUp">
            <span class="c-hpHeroText c-hpHeroText--top js-animElement__HomeHeroText--mobile">{{ section.settings.hero-text}}</span>
        </div>

        <div class="c-hpHeroImageSection c-hpHeroImageSection--left">
            <picture>
                <source media="(max-width: 767px)" srcset="{{ section.settings.background-image-left-mobile | img_url: 'master' }}">
                <source media="(min-width: 768px)" srcset="{{ section.settings.background-image-left-desktop | img_url: 'master' }}">
                <img class="c-hpHeroSplitSection__image" src="{{ section.settings.background-image-left-mobile | img_url: 'master' }}" alt="Space Needle">
            </picture>

            <span class="c-hpHeroText c-hpHeroText--left u-hideTabletUp">{{ section.settings.hero-text}}</span>            
        </div>

        <div class="c-hpHeroImageSection c-hpHeroImageSection--right">
            <picture>
                <source media="(max-width: 767px)" srcset="{{ section.settings.background-image-right-mobile | img_url: 'master' }}">
                <source media="(min-width: 768px)" srcset="{{ section.settings.background-image-right-desktop | img_url: 'master' }}">
                <img class="c-hpHeroSplitSection__image" src="{{ section.settings.background-image-right-mobile | img_url: 'master' }}" alt="Space Needle">
            </picture>
        </div>

        <div class="c-hpHeroContentSection">
            <div class="c-hpHeroSplitContentContainer">
                <div class="c-hpHeroSplitContentSection__split c-hpHeroSplitContentSection__split--left">
                    <span class="js-animElement__HomeHeroText--desktop c-hpHeroText c-hpHeroText--left">{{ section.settings.hero-text}}</span>     
                </div>   

                <div class="c-hpHeroSplitContentSection__split c-hpHeroSplitContentSection__split--right">
                    <span class="js-animElement__HomeHeroText--desktop c-hpHeroText c-hpHeroText--right u-showTabletUp">{{ section.settings.hero-text}}</span>
                </div>
            </div>

            {% if section.settings.cta-text %}
                <a class="c-btn c-hpHeroButton" href="{{ section.settings.cta-link }}">{{ section.settings.cta-text }}</a>
            {% endif %}
        </div>

        {% if section.settings.cta-text %}
            <a class="c-btn c-hpHeroButton u-hideTabletUp" href="{{ section.settings.cta-link }}">{{ section.settings.cta-text }}</a>
        {% endif %}        
    </div>
</div>


{% schema %}
{
    "name": "Home Hero Section",
    "class": "index-section",
    "settings": [
        {
            "type": "image_picker",
            "label": "Background Image Left Mobile",
            "id": "background-image-left-mobile"
        },
        {
            "type": "image_picker",
            "label": "Background Image Left Desktop",
            "id": "background-image-left-desktop"
        },        
        {
            "type": "image_picker",
            "label": "Background Image Right Mobile",
            "id": "background-image-right-mobile"
        },      
        {
            "type": "image_picker",
            "label": "Background Image Right Desktop",
            "id": "background-image-right-desktop"
        },             
        {
            "type": "html",
            "label": "Hero Text",
            "id": "hero-text",
            "info": "Place line breaks with '<br>'"
        },        
        {
            "type": "text",
            "label": "CTA Link",
            "id": "cta-link"
        },              
        {
            "type": "text",
            "label": "CTA Text",
            "id": "cta-text"
        }
    ],
    "presets": [{
        "name": "Home Hero Section",
        "category": "Home Page"
    }]    
}
{% endschema %}