<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
 
{% assign heading = section.settings.related_title %}

{% comment %}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% if product.metafields.c_f['Related Products'] %}
    {% if collections[product.metafields.c_f['Related Products']].all_products_count > 0 %}
        {% assign collection = collections[product.metafields.c_f['Related Products']] %}
    {% endif %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
    {% unless exclusions contains collection.handle %}
        {% assign found_a_collection = true %}
    {% endunless %}
{% endif %}
{% unless found_a_collection %}
    {% for c in product.collections %}
        {% unless exclusions contains c.handle or c.all_products_count < 2 %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
        {% break %}
        {% endunless %}
    {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign current_product = product %}

    {% capture related_items %}
        {% for product in collection.products %}
            {% unless product.handle == current_product.handle %}
                {% unless same_vendor and current_product.vendor != product.vendor %}
                    {% unless same_type and current_product.type != product.type %}

                        {% comment %} <a href="{{ collection.url }}{{ product.url }}" class="c-relatedProducts__item c-relatedProducts__item--left{{ forloop.index }}">
                            <img class="c-relatedProductsItem__image lazy-load" src="{{ product.images[0] | img_url: 'master' }}')">

                            <div class="c-relatedProducts__info">
                                <span class="c-relatedProducts__itemTitle">{{ product.title }}</span>
                                <span class="c-relatedProducts__itemPrice">${{ product.price | money_without_currency }}</span>
                            </div>
                        </a> {% endcomment %}

<div class="c-home-products-recommend">

    <div class="c-recommend">
        <div class="c-recommend-inner">
            <div class="o-flex">
                <div class="o-flex__item  o-flex__col-6 ">
                    <div class="c-recommend__img">
                        <img class="c-relatedProductsItem__image lazy-load" src="{{ product.images[0] | img_url: 'master' }}')">
                    </div>
                </div>

                <div class="o-flex__item o-flex__col-6 ">  
                    <div class="c-recommend__info">
                        <h2 class="c-recommend__heading">RECOMMENDED PRODUCT</h2>
                        <p class="c-recommend__title">{{ product.title }}</p>
                        <p class="c-recommend__desc">  {{ product.metafields.c_f.desc1 }} </p>
                        <p><a class="c-btn c-btn-primary c-related-product-shop" href="{{ product.url }}"><span class="c-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 135.8 115" enable-background="new 0 0 135.8 115" xml:space="preserve"><path d="M113.8,84h-72c-2.6,0-4.9-1.9-5.4-4.4L22.7,11H0V0h27.2c2.6,0,4.9,1.9,5.4,4.4L36.1,22h94.1c1.8,0,3.4,0.8,4.4,2.3c1,1.4,1.3,3.3,0.8,4.9l-16.5,51C118.3,82.5,116.2,84,113.8,84z M46.3,73h63.5l12.9-40H38.3L46.3,73z"></path><circle cx="50" cy="103.9" r="11"></circle><circle cx="104.5" cy="103.9" r="11"></circle></svg></span>VIEW PRODUCT</a></p>
                    </div>
                </div>
            </div>
        </div>
</div>

                        {% assign counter = counter | plus: 1 %}
                        {% if counter == 2 %}
                            {% break %}
                        {% endif %}
                    {% endunless %}
                {% endunless %}
            {% endunless %}
        {% endfor %}
    {% endcapture %}

    {% assign related_items = related_items | trim %}

    {% unless related_items == blank %}
        <section class="c-relatedProducts o-wrapper">
            {% unless heading == blank %}
                {% comment %} <h2 class="c-relatedProducts__title">{{ heading }}</h2> {% endcomment %}
            {% endunless %}
            <div class="c-relatedProducts__grid js-product-related-products-slider">
                {{ related_items }}
            </div>
        </section>
    {% endunless %}
     
{% endif %}
  
</div>

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "id": "related_title",
      "type": "text",
      "label": "Section title",
      "default": "You May Also Like"
    }
  ]
}
{% endschema %}










