<div class="c-relatedProduct">
    <h2 class="heaidng">You may also like</h2>

    {% for product in collection.products limit:3 %}

        <div class="c-product__item o-flex__item o-flex__col-4" >
            <a href="{{ product.url }}" title="{{ product.title }}" class="c-product__link">
                <div class="c-product__img">
                    <img class="c-product__Mainimage" src="{{ product.images[0].src  | img_url: 'large' }}">
                </div>
                <div class="c-product__info">
                    <h2 class="c-product__name">{{ product.title  }}</h2>
                    <h2 class="c-product__price">{{ product.price  | money}}</h2>
                </div>
                <div class="c-product__hoverText"><span>view details</span></div>
            </a>
        </div>

    {% endfor %}
</div>